body{
    
}

div.cover{
    background-image: url(images/bg.jpg);
    background-size: cover;
    height : 480px;
    background-position: center;
    position: relative;
    
}
.logo{
    width: 150px;
    
}
.cover header nav li a{
    color : #fff;
    text-decoration: none;
}
header li{
    list-style: none;
    display : inline;
    
}
header{
    display : flex;
    margin-left: 20px;
    align-items: center;
    margin-top: 20px;
    position: absolute;
}